.changeMode {
    height: 20px;
    width: 25%;
    margin: 1% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    font-size: 10px;
}
.drkmode{
    background-color: #333;
    color: white;
}
/* YAKIN DEK */
.lupapass{
    position: absolute;
    top: 19.5rem;
    left: 1rem;
}

/* REGISTER */
.register {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
}

/* KOSONG */
.btn {
    width: 50%;
}
.kosong {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;
    top: 1rem;
}

